<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>成都致靖维农农业机械有限公司</title>
        <meta name="description" content="">
        <meta name="author" content="templatemo">
        
        <link href='http://fonts.useso.com/css?family=Open+Sans:400,300,400italic,700' rel='stylesheet' type='text/css'>
        <link href="/stylesheets/bootstrap.min.css" rel="stylesheet">
        <link href="/stylesheets/font-awesome.min.css" rel="stylesheet">
        <link href="/stylesheets/templatemo-style.css" rel="stylesheet">

        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->

    </head>
    <body class="templatemo-container">
        <!-- header -->
        <div class="header-bg">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-4 col-sm-4 site-name-container">
                        <img src="images/logo.png" alt="Site logo" class="site-logo">
                        <h1 class="site-name">致靖维农</h1>
                    </div>
                    <div class="mobile-menu-icon">
                        <i class="fa fa-bars"></i>
                    </div>
                    <div class="col-lg-9 col-md-8 col-sm-8 templatemo-nav-container">
                        <nav class="templatemo-nav">
                            <ul>
                                <li><a href="index.html" class="active">首页</a></li>
                                <li><a href="about.html">关于我们</a></li>
                                <li><a href="profile.html">介绍</a></li>
                                <li><a href="contact.html">联系我们</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
        <!-- end header -->
        <!-- header image -->
        <div class="header-img"></div>
        <!-- end header image -->
        <!-- Welcome message -->
        <div class="welcome-container">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="welcome-wrapper">
                            <h2 class="welcome-title text-uppercase">欢迎</h2>
                            <img src="images/welcome-divider-lines.png" alt="Welcome divider" class="welcome-divider-lines-img">
                            <p class="welcome-description">超越梦想，众筹白云</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Welcome message -->
        <!-- main content -->
        <section class="templatemo-container section-shadow-bottom">
            <div class="container">
                <div class="row section-title-container">
                    <div class="col-lg-12 text-uppercase text-center">
                        <h2 class="section-title">首页</h2>
                        <div class="section-title-underline-blue"></div>
                        <hr class="section-title-underline">
                        <p class="small">致靖维农</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6 col-md-6">
                        <h3 class="section-title-2 text-uppercase font-weight-300"><b>致靖制造</b> <span class="blue-text">棒棒捆</span></h3>
                        <p>Credit goes to Unsplash for images used in this template. Morbi dapibus rhoncus nulla ac tempus. Integer felis lorem, fermentum quis nisl accumsan, gravida gravida est. Cras ultrices rhoncus dui ut laoreet. Fusce tincidunt, urna a imperdiet tempor, orci dolor dictum elit, sit amet malesuada mauris magna eget dolor. Morbi ornare convallis vulputate. Donec ut suscipit nisl, ac elementum nisi.</p>
                        <ul class="gray-text ul-1">
                            <li>Sed non mauris vitae erat consequat auctor</li>
                            <li>Class aptent taciti sociosqu</li>
                            <li>Wonubia nostra, per inceptos himeos</li>
                        </ul>
                        <a href="#" class="btn-blue-gradient">Prima Liuam</a>
                        <a href="#" class="btn-transparent">Prima Liuam</a>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="carousel-container">
                            <div class="crsl-items" data-navigation="navbtns">
                                <div class="crsl-wrap">
                                    <figure class="crsl-item">
                                        <img src="images/1.jpg" alt="Image" class="img-responsive img-thumbnail">
                                    </figure>
                                    <figure class="crsl-item">
                                        <img src="images/2.jpg" alt="Image" class="img-responsive img-thumbnail">
                                    </figure>
                                    <figure class="crsl-item">
                                        <img src="images/3.jpg" alt="Image" class="img-responsive img-thumbnail">
                                    </figure>
                                </div>
                            </div>
                        </div>   <!-- carousel-container -->
                        <div id="navbtns" class="crsl-nav">
                            <a href="#" class="previous">
                                <img src="images/carousel-arrow-previous.png" alt="previous">
                            </a>
                            <a href="#" class="next">
                                <img src="images/carousel-arrow-next.png" alt="next">
                            </a>
                        </div>
                    </div>
                </div>
                <!-- end section content -->
            </div>
        </section>
        <!-- Who We Are -->
        <section class="templatemo-container light-gray-bg section-shadow-bottom">
            <div class="container">
                <div class="row section-title-container">
                    <div class="col-lg-12 text-uppercase text-center">
                        <h2 class="section-title">先进技术</h2>
                        <div class="section-title-underline-blue"></div>
                        <hr class="section-title-underline">
                        <p class="small">致靖维农</p>
                    </div>
                </div> <!-- row -->
                <div class="row">
                    <div class="col-lg-5 col-md-5">
                        <div class="tm-blocks-container effect1">
                            <div class="tm-block green-bg">
                                <a href="#" class="tm-block-link">技术</a>
                            </div>
                            <div class="tm-block">
                                <img src="images/4.jpg" alt="Image" class="img-responsive">
                            </div>
                            <div class="tm-block">
                                <img src="images/5.jpg" alt="Image" class="img-responsive">
                            </div>
                            <div class="tm-block red-bg">
                                <a href="#" class="tm-block-link">型号</a>
                            </div>
                            <div class="tm-block yellow-bg">
                                <a href="#" class="tm-block-link">荣誉</a>
                            </div>
                            <div class="tm-block">
                                <img src="images/6.jpg" alt="Image" class="img-responsive">
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-7 col-md-7">
                        <h3 class="section-title-2 text-uppercase font-weight-300"><b>致靖</b> <span class="blue-text">技术</span></h3>
                        <p class="justify-text">Sed tempor ante aliquam, finibus diam in, mattis enim. Aliquam neque odio, aliquam non ullamcorper nec, tempus non libero. Etiam in odio rutrum, euismod massa quis, ullamcorper diam. Mauris ac lectus mollis, mollis tortor vel, placerat elit. Quisque euismod ut neque in rutrum. Quisque vitae dignissim elit. Aliquam vel erat ante. Pellentesque luctus efficitur ultrices. Nam eget odio ultrices, laoreet arcu eu, vehicula ligula. Quisque non nisi finibus, consequat nulla vitae, accumsan lectus. Morbi vestibulum, massa a gravida commodo, enim nisi porttitor nulla, ut aliquam turpis urna non sem. Suspendisse id odio ac orci ornare fermentum. Sed tincidunt id odio vel interdum.</p>
                        <p class="justify-text">
                            Etiam mollis nisi ut eleifend condimentum. Morbi posuere convallis lacus, a venenatis risus mattis eget. Vestibulum vitae gravida augue, vitae molestie dui. Duis lobortis nisi eget consequat tincidunt. Sed vel tortor vitae nisl pharetra dignissim. Sed lorem neque, sagittis eget sem sit amet, aliquet fringilla tortor. Praesent et aliquet arcu. Nunc tempor vulputate sapien, ut varius risus blandit at.
                        </p>
                        <p class="justify-text">
                            Phasellus lobortis nisl ut tortor placerat, vel auctor felis semper. Quisque ut auctor sapien. Proin gravida arcu malesuada, venenatis nisl vitae, egestas sem. Vestibulum mauris magna, aliquam non commodo ac, porttitor a augue. Cras laoreet est at magna malesuada, a viverra ipsum luctus. Nullam sed lacinia magna. Donec ullamcorper lectus et diam porttitor, a tincidunt diam iaculis. Donec sagittis posuere pellentesque.</p>
                    </div>
                </div>
            </div>
        </section>
        <!-- Blog -->
        <section class="templatemo-container">
            <div class="container">
                <div class="row section-title-container">
                    <div class="col-lg-12 text-uppercase text-center">
                        <h2 class="section-title">历程</h2>
                        <div class="section-title-underline-blue"></div>
                        <hr class="section-title-underline">
                        <p class="small">致靖记忆</p>
                    </div>
                </div>
                <div class="row posts-container">
                    <div class="post-excerpt post-excerpt-left">
                        <div class="post-content">
                            <h3 class="post-title"></h3>
                            <p class="post-description">开始着手研制9YQ-1975圆捆机，开始设计开发中文导航版自动语音控制系统。</p>
                        </div>
                        <div class="post-date-container">
                            <div class="post-month">2015年</div>
                            <div class="post-date">11月17</div>
                        </div>
                        <div class="post-arrow-container rotate-arrow">
                            <img src="images/blog-arrow.png" alt="arrow">
                        </div>
                    </div>
                    <div class="post-excerpt post-excerpt-right">
                        <div class="post-arrow-container">
                            <img src="images/blog-arrow.png" alt="arrow">
                        </div>
                        <div class="post-date-container">
                            <div class="post-month">2016年</div>
                            <div class="post-date">5月25</div>
                        </div>
                        <div class="post-content">
                            <h3 class="post-title">公司成立</h3>
                            <p class="post-description">伴随着农机智能化的苗头，致靖维农成立了。</p>
                        </div>
                    </div>
                    <div class="post-excerpt post-excerpt-left">
                        <div class="post-content">
                            <h3 class="post-title">初步成功</h3>
                            <p class="post-description">中文导航版自动语音控制系统研发初步成功，开始测试。</p>

                        </div>
                        <div class="post-date-container">
                            <div class="post-month">2016年</div>
                            <div class="post-date">6月22</div>
                        </div>
                        <div class="post-arrow-container rotate-arrow">
                            <img src="images/blog-arrow.png" alt="arrow">
                        </div>
                    </div>
                    <div class="post-excerpt post-excerpt-right">
                        <div class="post-arrow-container">
                            <img src="images/blog-arrow.png" alt="arrow">
                        </div>
                        <div class="post-date-container">
                            <div class="post-month">2016年</div>
                            <div class="post-date">7月31</div>
                        </div>
                        <div class="post-content">
                            <h3 class="post-title">第一台机器组装完毕</h3>
                            <p class="post-description">9YQ-1975第一台组装完毕，开始测试。</p>

                        </div>
                    </div>
                    <div class="post-excerpt post-excerpt-left">
                        <div class="post-content">
                            <h3 class="post-title">成功全自动完成第一捆草捆打捆</h3>
                            <p class="post-description">第一台机器完成了第一次全自动进料、缠网到切网的自动打捆过程。</p>
                        </div>
                        <div class="post-date-container">
                            <div class="post-month">2016年</div>
                            <div class="post-date">8月1</div>
                        </div>
                        <div class="post-arrow-container rotate-arrow">
                            <img src="images/blog-arrow.png" alt="arrow">
                        </div>
                    </div>


                    <div class="post-excerpt post-excerpt-right">
                        <div class="post-arrow-container">
                            <img src="images/blog-arrow.png" alt="arrow">
                        </div>
                        <div class="post-date-container">
                            <div class="post-month">2016年</div>
                            <div class="post-date">9月15</div>
                        </div>
                        <div class="post-content">
                            <h3 class="post-title">山东玉米杆实测</h3>
                            <p class="post-description">9YQ-1975第一台机器，运往山东临沂开始进行玉米杆打捆实验。</p>

                        </div>
                    </div>

                </div>
            </div>
        </section>
        <!-- Features -->
        <section class="templatemo-container features">
            <div class="container features-content">
                <div class="row section-title-container">
                    <div class="col-lg-12 text-uppercase text-center">
                        <h2 class="section-title">Features</h2>
                        <div class="section-title-underline-blue"></div>
                        <hr class="section-title-underline">
                        <p class="small">Proin Gravidani</p>
                    </div>
                </div>
                <div class="row">
                    <div class="feature-container">
                        <p class="text-center margin-bottom-30 gray-text">Consequat ipsum, nex sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio.</p>
                        <div class="tm-progress-container tm-progress-container-left">
                            <div class="tm-progress-label">
                                <p class="pull-left">Wordpress</p>
                                <p class="pull-right">80%</p>
                            </div>
                            <div class="progress tm-progress">
                              <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 80%;">
                                <span class="sr-only">80% Complete</span>
                              </div>
                            </div>
                        </div>
                        <div class="tm-progress-container tm-progress-container-right">
                            <div class="tm-progress-label">
                                <p class="pull-left">SEO</p>
                                <p class="pull-right">75%</p>
                            </div>
                            <div class="progress tm-progress">
                              <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 75%;">
                                <span class="sr-only">75% Complete</span>
                              </div>
                            </div>
                        </div>
                        <div class="tm-progress-container tm-progress-container-left">
                            <div class="tm-progress-label">
                                <p class="pull-left">Web Design</p>
                                <p class="pull-right">90%</p>
                            </div>
                            <div class="progress tm-progress">
                              <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 90%;">
                                <span class="sr-only">90% Complete</span>
                              </div>
                            </div>
                        </div>
                        <div class="tm-progress-container tm-progress-container-right">
                            <div class="tm-progress-label">
                                <p class="pull-left">UX</p>
                                <p class="pull-right">86%</p>
                            </div>
                            <div class="progress tm-progress">
                              <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 86%;">
                                <span class="sr-only">86% Complete</span>
                              </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="bg-overlay"></div>
        </section>
        <div class="blue-divider effect1">
            <div class="dark-blue-bg"></div>
            <div class="blue-divider-bg-graphic"></div>
            <div class="blue-bg"></div>
        </div>
        <section class="templatemo-container blue-bg footer-nav effect1">
            <div class="container">
                <div class="col-lg-2 col-md-2 col-sm-6 footer-block">
                    <h3 class="text-uppercase">Main menu</h3>
                    <nav class="text-uppercase templatemo-nav-2">
                        <ul>
                            <li><a href="index.html">首页</a></li>
                            <li><a href="about.html">关于我们</a></li>
                            <li><a href="profile.html">介绍</a></li>
                            <li><a href="contact.html">联系我们</a></li>
                        </ul>
                    </nav>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 footer-block">
                    <h3 class="text-uppercase">关于我们</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce malesuada lacus vel tristique rhoncus. Vivamus vel molestie odio. Curabitur pulvinar, diam at pharetra euismod, augue felis pretium est, sit amet accumsan dui enim nec tortor. Cras lobortis feugiat enim. Aliquam rhoncus pharetra ligula accumsan sodales. Donec blandit sed justo quis sollicitudin. Nulla et leo id purus suscipit rhoncus ut at purus. Suspendisse molestie sodales porttitor.

                        Vivamus et vulputate augue. Etiam et eleifend purus, in sagittis nisi. Vivamus laoreet metus ut nisl euismod molestie. In non lacus placerat ipsum placerat dapibus eu vel arcu.</p>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 footer-block">
                    <h3 class="text-uppercase">Resources</h3>
                    <ul>
                        <li><a href="#">Aenean leogula</a></li>
                        <li><a href="#">Porttitor euconsequat</a></li>
                        <li><a href="#">Vitae eleifend ac enim</a></li>
                        <li><a href="#">Aliquam lorante</a></li>
                        <li><a href="#">Phasellus viverra nulla</a></li>
                        <li><a href="#">Dmetus varius</a></li>
                    </ul>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 footer-block">
                    <h3 class="text-uppercase">Features</h3>
                    <ul>
                        <li><a href="#">lorem quis bibendum</a></li>
                        <li><a href="#">Auctor nisi elit conser</a></li>
                        <li><a href="#">at ipsum, nec sagittis</a></li>
                        <li><a href="#">Duis sed odio sit amet</a></li>
                        <li><a href="#">Fnibh vulpu</a></li>
                        <li><a href="#">ftate cursus a sit amet</a></li>
                    </ul>
                </div>
            </div>
        </section>
        <!-- end main content -->
        <footer class="text-center">
            <p class="small copyright-text">Copyright &copy; 2015.Company name All rights reserved.<a target="_blank" href="http://www.5imoban.net" title="静态网页模板">&#x7F51;&#x9875;&#x6A21;&#x677F;</a></p>
        </footer>

        <!-- JS -->
        <script src="http://www.5imoban.net/download/jquery/jquery-1.8.3.min.js"></script>      <!-- jQuery -->
        <script type="text/javascript" src="javascripts/responsiveCarousel.min.js"></script>      <!-- Carousel -->
        <script type="text/javascript" src="javascripts/templatemo-script.js"></script>      <!-- Templatemo Script -->
        <script>

            $(function() {
                $('.crsl-items').carousel({
                    visible: 1,
                    itemMinWidth: 320,
                    itemEqualHeight: 320,
                    itemMargin: 9,
                });
                $(".crsl-nav a[href=#]").on('click', function(e) {
                    e.preventDefault();
                });
            });

        </script>
    </body>
</html>
