<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
<style type="text/css">  
    html{height:100%}    
    body{height:100%;margin:0px;padding:0px}    
    #allmap{height:100%}    
</style>
<script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=yTdOFtxX6c7mOnPNcCKCNn9XYrKz7XGQ"></script>
<title><%= title %></title>
</head>
<body>
<div id="allmap"></div>
</body>
</html>
<script type="text/javascript">

// 百度地图API功能
var map = new BMap.Map("allmap");
//var m_city = "北京";
var gpspoint = new BMap.Point(<%= latitude %>, <%= longitude %>);



map.centerAndZoom(gpspoint, 13);
var marker = new BMap.Marker(gpspoint);        // 创建标注    
map.addOverlay(marker);                     // 将标注添加到地图中                              // 初始化地图,设置中心点坐标和地图级别
map.addControl(new BMap.NavigationControl());              //添加缩略地图控件
map.enableScrollWheelZoom();                               //启用滚轮放大缩小

var m_radius = 1000;
var m_point;


map.addEventListener("click",function(e){
var circle = new BMap.Circle(e.point,m_radius);
map.clearOverlays();
map.addOverlay(circle);
m_point = e.point;
alert(e.point.lng + "," + e.point.lat);
});

// function SetCity(city){
//     m_city = city;
// }


//坐标转换完之后的回调函数
translateCallback = function (point){
    var marker = new BMap.Marker(point);
    map.clearOverlays();
    map.addOverlay(marker);
    var label = new BMap.Label("我是百度标注哦",{offset:new BMap.Size(20,-10)});
    marker.setLabel(label); //添加百度label
    map.setCenter(point);
    alert("转化为百度坐标为1："+point.lng + "," + point.lat);
}

setTimeout(function(){
    //BMap.Convertor.translate(gpspoint,0,translateCallback);     //真实经纬度转成百度坐标
    alert("转化为百度坐标为2："+gpspoint.lng + "," + gpspoint.lat);
}, 2000);


function SetRadius(radius){
    m_radius = radius;
}


function AutoSetCircle(){
    var circle2 = new BMap.Circle(m_point,m_radius);
    map.clearOverlays();
    map.addOverlay(circle2);
}

function ReturnLngLat(){
    var LngLat = new Array();
    LngLat[0] = m_point.lng;
    LngLat[1] = m_point.lat;
    return LngLat;
}
</script>

